<h1>Listing All the Credit Lines</h1>

<table>
  <tr>
    <th>Interest rate</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @array.each do |credit_line| %>
  <tr>
    <td><%= credit_line.interest_rate%></td>
    <td><%= credit_line.name %></td>
    <td><%= link_to 'Show', credit_line %></td>
    <td><%= link_to 'Edit', edit_credit_line_path(credit_line) %></td>
    <td><%= link_to 'Destroy', credit_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Listing All the Payment Plans</h1>

<table>
  <tr>
    <th>Identification</th>
    <th>Numberofpayments</th>
    <th>Principal</th>
    <th>Risklevel</th>
    <th>State</th>
    <th>Creditline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @payment_plans.each do |payment_plan| %>
      <tr>
        <td><%= payment_plan.identification %></td>
        <td><%= payment_plan.numberOfPayments %></td>
        <td><%= payment_plan.principal %></td>
        <td><%= payment_plan.riskLevel %></td>
        <td><%= payment_plan.state %></td>
        <% if payment_plan.creditLine.nil? %>
        <%else %>
        <td><%= CreditLine.find(payment_plan.creditLine.id).name%></td>
        <%end%>
        <td><%= link_to 'View Details', payment_plan %></td>
        <td><% link_to 'Edit', edit_payment_plan_path(payment_plan) %></td>
        <td><% link_to 'Destroy', payment_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Credit line', new_credit_line_path %>
<br/>
<%= link_to 'Public url: /pyme/'.concat("#{@adm.pymeName}"), "/pyme/#{@adm.pymeName}" %>


