<p id="notice"><%= notice %></p>

<p>
  <b>Interest rate:</b>
  <%= @credit_line.interest_rate %>
</p>

<p>
  <b>Name:</b>
  <%= @credit_line.name %>
</p>

<%= link_to 'Edit', edit_credit_line_path(@credit_line) %> |
<%= link_to 'Back', credit_lines_path %>
