<% @page_title = "UserAuth | Signup" -%>
<div class= "Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:admin, :url => {:controller => 'admins', :action => 'create'}) do |f| %>

      <p>
        Name:</br> <%= f.text_field :name%>
      </p>

      <p>
        Email:</br> <%= f.text_field :email%>
      </p>

      <p>
        Pyme Name:</br> <%= f.text_field :pymeName%>
      </p>

      <p>
        Password:</br> <%= f.password_field :password%>
      </p>

      <p>
        Password Confirmation:</br> <%= f.password_field :password_confirmation%>
      </p>

      <%= f.submit :Signup %>
  <% end %>

  <% if @admin.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @admin.errors.full_messages %>
            <li>* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>
</div>