<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
	<h1>Log in</h1>
	<%= form_tag(:action => 'authenticate') do %>
		<p>
		Email:</br> <%= text_field_tag(:email) %>
		</p> 
		
		<p>
		Password:</br> <%= password_field_tag :password %>
		</p>

		<%= submit_tag("Log In") %>
	<% end %>
</div>
