<p id="notice"><%= notice %></p>
<h1>Welcome Create your Payment Plan</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p> El nombre del administrador es: dm.name </p>
<p>Pyme Name adm.pymeName</p>

<%= render 'payment_plans/form'%>
