<h1>Listing payments</h1>

<table>
  <tr>
    <th>Paymentamortization</th>
    <th>Paymentinterest</th>
    <th>Paymentnumber</th>
    <th>Pendingbalance</th>
    <th>Totalpayment</th>
    <th>Payment plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.paymentAmortization %></td>
    <td><%= payment.paymentInterest %></td>
    <td><%= payment.paymentNumber %></td>
    <td><%= payment.pendingBalance %></td>
    <td><%= payment.totalPayment %></td>
    <td><%= payment.payment_plan %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
