<%= form_for(@payment_plan) do |f| %>
  <% if @payment_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_plan.errors.count, "error") %> prohibited this payment_plan from being saved:</h2>

      <ul>
      <% @payment_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :identification %><br />
    <%= f.text_field :identification %>
  </div>
  <div class="field">
    <%= f.label :numberOfPayments %><br />
    <%= f.number_field :numberOfPayments %>
  </div>
  <div class="field">
    <%= f.label :principal %><br />
    <%= f.text_field :principal %>
  </div>
  <div class="field">
    <%= f.label :creditLine %><br />
    <%= f.select :creditLine, options_from_collection_for_select(@creditLines,"id","name") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
