<!DOCTYPE html>
<html>
<head>
  <title>SimuladorBancario</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="Main_Header">
		<%unless session[:user_id]%>
			<ul class="nav">
				<li><%= link_to :Signup, controller: "admins", action: "new", class: "nav_links"%></li>|
				<li><%= link_to :Login, controller: "logins", action: "login", class: "nav_links"%></li>	
			</ul>
		<%else%>
			<ul class="nav">
				<li><%= link_to :Logout, controller: "logins", action: "logout", class: "nav_links" %></li>
			</ul>
		<%end%>
	</div>

	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>

<%= yield %>

</body>
</html>
